#Title{
    text-align: center;
    color: blueviolet;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-color: black;
}

.container {
display:grid;
grid-template-columns: 20% 20% 20% 20% 20%;
grid-template-rows: repeat(20%);
row-gap: 10px;
}

.container input{
  width: 200px;
  height: 200px;
  border-radius: 30px;
}
